<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Curso Spring Boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 20px 0 30px 0;">
            <table align="center" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
                <tr>
                    <td align="center" bgcolor="#121214" style="padding: 40px 0 30px 0;">
                        <img src="cid:headerLogo" alt="Spring Boot" width="350" height="80" style="display: block;" />
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#121214" style="padding: 40px 30px 40px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="color: #16860b; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                            <tr>
                                <td style="padding: 20px 0 15px 0;">
                                    Ol&aacute;, <span th:text="${name}">Rafael</span>! Espero que voc&ecirc; tenha curtido a aula.
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0px 0 15px 0;">
                                    Suas informa&ccedil;&otilde;es:
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0 0 30px 0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr valign="top">
                                            <td style="display: list-item; list-style: disc inside; margin-bottom: 5px;">
                                                Nome: <span th:text="${name}">Rafael</span>
                                            </td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="display: list-item; list-style: disc inside; margin-bottom: 5px;">
                                                Email: <span th:text="${email}">rafavista1@hotmail.com</span>
                                            </td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="display: list-item; list-style: disc inside; margin-bottom: 5px;">
                                                Data de Nascimento: <span th:text="${#temporals.format(birthday, 'dd/MM/yyyy')}">28/08/1992</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0px 0 15px 0;">
                                    Nessa curso você aprendeu:
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 5px 0 30px 0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr valign="top">
                                            <td style="display: list-item; list-style: disc inside; margin-bottom: 10px;">
                                                Enviar email com Java Mail Sender
                                            </td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="display: list-item; list-style: disc inside; margin-bottom: 10px;">
                                                Configurar a aplica&ccedil;&atilde;o para enviar email atrav&eacute;s do Gmail
                                            </td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="display: list-item; list-style: disc inside; margin-bottom: 10px;">
                                                Utilizar o Thymeleaf para construir Templates de email personalizados
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#121214" style="padding: 30px 30px 30px 30px; color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center">
                                    Email template com Thymeleaf
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    Este e-mail foi enviado no dia <span th:text="${#temporals.format(date, 'dd/MM/yyyy')}">20/09/2021</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>